.friendsInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statusOnline {
  color: green;
  font-weight: 500;
}

.statusOffline {
  color: red;
  font-weight: 500;
}